section.tabs-content
  div.tabs-items
    ul#tabs-items-list
      li#tabs-items-item
        form.chat(onsubmit='return false')
          h3.topic
          .chatlog
          input(class='message', type='text', autocomplete='off')
      li#tabs-items-item
        div.members
          ul.members-items-list
